body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  color: #000;
  font-family: sans-serif;
}

.container{
  width: 60%;
  margin: 0 auto;
}
.font-div{

}

.font-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.font-field{
  height: 2.5rem;
  width: 20rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
}
.font-btn{
  width: 10rem;
  margin-left: 1rem;
  background: transparent;
  color: #000;
  height: 2.5rem;
}

.center{
  text-align: center;
}
.alert{
  color: red;
}
