body{
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  color: #000;
  font-family: sans-serif;
}
.fontDiv{
  display: inline-block;
  text-align: center;
}

.font-field{
  width: 300px;
}
